__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
*.log
*.sqlite3
.ipynb_checkpoints/
.env/
.venv/
venv/
ENV/
dist/
build/
*.spec
.vscode/
.idea/
models/
runs/
*.pt
*.onnx
*.tflite
*.torchscript
*.yaml
datasets/
*.zip
*.tar.gz
